In [84]:
import pandas as pd

In [85]:
df = pd.read_json("../optimization/results/2020-11-25-A-runtime-variance-opt-properties.json").transpose()
df.head()

,algorithm,cost,coverage,domain,error,id,node,planner_exit_code,planner_wall_clock_time,problem,raw_memory,run_dir,runtime,search_time,total_time,unexplained_errors,unsolvable
fd1906-bjolp-barman-p01-0.pddl,fd1906-bjolp,10,1,barman,none,"[fd1906-bjolp, barman, p01-0.pddl]",ase13.cluster.bc2.ch,0,0.55,p01-0.pddl,22432,runs-23401-23500/23401,0.54,0.00235923,0.00956006,[output-to-slurm.err],0
fd1906-bjolp-barman-p01-1.pddl,fd1906-bjolp,10,1,barman,none,"[fd1906-bjolp, barman, p01-1.pddl]",ase20.cluster.bc2.ch,0,0.63,p01-1.pddl,22432,runs-23401-23500/23402,0.6,0.00235295,0.00964629,[output-to-slurm.err],0
fd1906-bjolp-barman-p01-2.pddl,fd1906-bjolp,10,1,barman,none,"[fd1906-bjolp, barman, p01-2.pddl]",ase17.cluster.bc2.ch,0,0.57,p01-2.pddl,22432,runs-23401-23500/23403,0.55,0.00236026,0.00968862,[output-to-slurm.err],0
fd1906-bjolp-barman-p01-3.pddl,fd1906-bjolp,10,1,barman,none,"[fd1906-bjolp, barman, p01-3.pddl]",ase22.cluster.bc2.ch,0,0.57,p01-3.pddl,22432,runs-23401-23500/23404,0.55,0.00233414,0.00969131,[output-to-slurm.err],0
fd1906-bjolp-barman-p01-4.pddl,fd1906-bjolp,10,1,barman,none,"[fd1906-bjolp, barman, p01-4.pddl]",ase06.cluster.bc2.ch,0,0.58,p01-4.pddl,22432,runs-23401-23500/23405,0.56,0.00235297,0.00982671,[output-to-slurm.err],0

In [86]:
df2 = df[["algorithm", "domain", "problem", "runtime"]]
df2["runtime"] = df2["runtime"].astype(float)
df2

,algorithm,domain,problem,runtime
fd1906-bjolp-barman-p01-0.pddl,fd1906-bjolp,barman,p01-0.pddl,0.54
fd1906-bjolp-barman-p01-1.pddl,fd1906-bjolp,barman,p01-1.pddl,0.60
fd1906-bjolp-barman-p01-2.pddl,fd1906-bjolp,barman,p01-2.pddl,0.55
fd1906-bjolp-barman-p01-3.pddl,fd1906-bjolp,barman,p01-3.pddl,0.55
fd1906-bjolp-barman-p01-4.pddl,fd1906-bjolp,barman,p01-4.pddl,0.56
...,...,...,...,...
ipc2014-opt-symba1-zenotravel-p30-5.pddl,ipc2014-opt-symba1,zenotravel,p30-5.pddl,NaN
ipc2014-opt-symba1-zenotravel-p30-6.pddl,ipc2014-opt-symba1,zenotravel,p30-6.pddl,NaN
ipc2014-opt-symba1-zenotravel-p30-7.pddl,ipc2014-opt-symba1,zenotravel,p30-7.pddl,NaN
ipc2014-opt-symba1-zenotravel-p30-8.pddl,ipc2014-opt-symba1,zenotravel,p30-8.pddl,NaN
ipc2014-opt-symba1-zenotravel-p30-9.pddl,ipc2014-opt-symba1,zenotravel,p30-9.pddl,NaN

In [87]:
pg = df2["problem"].str.extract(r'(?P<problemgroup>p\d\d)-\d\.pddl', expand=False)
df2["problemgroup"] = pg
df2 = df2.dropna()
df2

,algorithm,domain,problem,runtime,problemgroup
fd1906-bjolp-barman-p01-0.pddl,fd1906-bjolp,barman,p01-0.pddl,0.54,p01
fd1906-bjolp-barman-p01-1.pddl,fd1906-bjolp,barman,p01-1.pddl,0.60,p01
fd1906-bjolp-barman-p01-2.pddl,fd1906-bjolp,barman,p01-2.pddl,0.55,p01
fd1906-bjolp-barman-p01-3.pddl,fd1906-bjolp,barman,p01-3.pddl,0.55,p01
fd1906-bjolp-barman-p01-4.pddl,fd1906-bjolp,barman,p01-4.pddl,0.56,p01
...,...,...,...,...,...
ipc2014-opt-symba1-zenotravel-p20-1.pddl,ipc2014-opt-symba1,zenotravel,p20-1.pddl,52.09,p20
ipc2014-opt-symba1-zenotravel-p20-2.pddl,ipc2014-opt-symba1,zenotravel,p20-2.pddl,21.65,p20
ipc2014-opt-symba1-zenotravel-p20-6.pddl,ipc2014-opt-symba1,zenotravel,p20-6.pddl,67.96,p20
ipc2014-opt-symba1-zenotravel-p20-8.pddl,ipc2014-opt-symba1,zenotravel,p20-8.pddl,580.27,p20
ipc2014-opt-symba1-zenotravel-p21-5.pddl,ipc2014-opt-symba1,zenotravel,p21-5.pddl,45.64,p21

In [88]:
df3 = df2.groupby(["algorithm", "domain", "problemgroup"])["runtime"].aggregate(["count", "mean", "std"])
with open("runtime-variance-opt.txt", "w") as f:
    f.write(df3.to_string())
df3

                                            count        mean         std
algorithm          domain     problemgroup
fd1906-bjolp       barman     p01              10    0.561000    0.036347
                              p02              10    1.128000    0.222251
                              p03              10   23.336000    0.572969
                              p11              10    0.606000    0.112368
                              p12              10    1.575000    0.034721
...                                           ...         ...         ...
ipc2014-opt-symba1 zenotravel p17              10    2.707000    1.180594
                              p18              10   25.559000   25.537705
                              p19               7  202.494286  154.242325
                              p20               5  182.956000  231.476312
                              p21               1   45.640000         NaN

[2120 rows x 3 columns]

In [89]:
df3.index.names

FrozenList(['algorithm', 'domain', 'problemgroup'])

In [90]:
df3.groupby(level=["algorithm", "domain"]).aggregate(["mean"])

                                     count        mean         std
                                      mean        mean        mean
algorithm          domain
fd1906-bjolp       barman        10.000000   15.400375    0.768045
                   blocksworld    7.461538   59.723962   67.678912
                   childsnack    10.000000   93.739889    8.603812
                   data-network   5.368421   83.389501  115.333792
                   depots         7.772727  146.402996  106.416639
...                                    ...         ...         ...
ipc2014-opt-symba1 tpp            7.619048  219.577468   89.413101
                   transport      8.517241  476.052270  157.191327
                   visitall       8.520000  223.710347  115.891245
                   woodworking    7.043478  240.265101  163.901257
                   zenotravel     8.250000   77.708302   88.680776

[156 rows x 3 columns]

In [91]:
df3.groupby(level=["algorithm"]).aggregate(["mean"])

                          count        mean         std
                           mean        mean        mean
algorithm
fd1906-bjolp           7.463104  135.287203  102.402287
fd1906-blind           7.943662   73.250540   40.429727
fd1906-fdss1-mas1-60s  7.454849   69.186025   33.622068
fd1906-fdss1-mas2-60s  7.957143   62.960801   31.103526
fd1906-lmcut           6.977099  263.263021  184.237353
ipc2014-opt-symba1     8.419492  177.560130   96.861489

In [92]:
df3.groupby(level=["domain"]).aggregate(["mean"])

                    count        mean         std
                     mean        mean        mean
domain
barman           9.981481   41.413426    5.286293
blocksworld      7.567568   97.942662   76.657626
childsnack       9.873016   67.628469   10.152669
data-network     5.480769  135.205760  157.095113
depots           7.592233  142.899311  118.446578
driverlog        6.892857  103.830699   93.073898
elevators        7.376623  213.428815  141.651292
floortile        9.218182   59.529550   22.047633
grid             6.765432  122.895462  125.786364
gripper         10.000000   33.883680    1.285009
hiking          10.000000  106.278610    3.108415
logistics        6.840580  184.951961   95.536287
miconic-strips   8.447059  108.208537  108.854525
nomystery        7.496063  228.731929  136.132919
openstacks       9.842105  240.095224   23.343450
parking          8.610526  142.863154   75.998942
rover            4.413793  110.733220  156.882533
satellite        7.268817   83.272171   50.816215
scanalyzer      10.000000   89.576612    9.434461
snake            8.282051  345.877401  108.848614
storage          7.579545  131.657127   87.701796
tpp              7.818182  140.429582   75.223552
transport        8.981132  302.855571  101.003802
visitall         7.815789  129.105911   88.735322
woodworking      6.289474  236.861707  160.404696
zenotravel       7.687500   98.614835   79.714123