In [51]:
LOGDIR = "../logfiles/2020-11-17/"
import os
import re
import pandas as pd

from IPython.display import display

#2020-11-17 22:58:38,135 INFO     Different evaluated sequences: 202
#2020-11-17 22:58:38,222 INFO     Candidate sequences: 100
#2020-11-17 22:58:38,480 INFO     Solution value  = 0.0

ATRIBUTES_TABLE = ["track", "domain", "evaluated_sequences", "candidate_sequences", "solution_value", "sart_runtimes", "num_sequences"]

regex = [re.compile(x) for x in [".*Different evaluated sequences: (?P<evaluated_sequences>(\d+))",
                                 ".*Candidate sequences: (?P<candidate_sequences>(\d+))", 
                                  ".*Solution value  = (?P<solution_value>(.*))",
                                ]]
DATA_LOGS = []
table = []

for logfile in os.listdir(LOGDIR):
    _, track, domain = logfile.split("_")
    f = open(f"{LOGDIR}/{logfile}")
    content = f.readlines()
    
    data = { "track" : track, "domain" : domain, "sart_runtimes" : False, "num_sequences" : 0}
    
    for l in content: 
        if "Using sart runtimes on CPLEX optimization" in l: 
            data["sart_runtimes"] = True
            continue
        if "Selected: sequence" in l:
            data["num_sequences"] += 1

            
        for reg in regex: 
            if reg.match(l): 
                for atr, value in reg.match(l).groupdict().items():
                    data [atr] = value
                    
        
    table.append([data[atr] for atr in ATRIBUTES_TABLE])

    DATA_LOGS.append(data)
    
        pd.options.display.float_format = "{:,.2f}".format

                 
df = pd.DataFrame(table,columns =  ATRIBUTES_TABLE)
display(df)

,track,domain,evaluated_sequences,candidate_sequences,solution_value,sart_runtimes,num_sequences
0,opt20,nomystery,103,82,0.0,True,2
1,opt20,hiking,230,32,0.0,True,2
2,opt20,woodworking,238,20,16.0,True,3
3,sat20,miconic-strips,779,100,84759.15021881506,False,1
4,sat20,snake,1450,195,0.0,True,2
...,...,...,...,...,...,...,...
99,opt14,driverlog,3379,100,0.999999999999999,True,3
100,sat20,gripper,2631,100,18938.6008936914,False,1
101,opt20,openstacks,709,555,0.0,True,2
102,sat14,gripper,2529,100,19083.958007160374,False,1
103,sat14,parking,153,16,12.384536587592777,True,2